.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .box {
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 400px;
        border-radius: 15px;
        border: 1.5px solid black;
        background-color: #171717;
        align-items: center;
        justify-content: center;
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

        img {
            height: 150px;
            width: auto;
            margin-top: -40px;
        }

        input {
            height: 50px;
            width: 400px;
            color: white;
            border: 1px solid black;
            border-radius: 5px;
            background-color: #202020;
            margin: 5px;
            padding: 10px;
            font-size: 1.1rem;
        }

        .sign {
            height: 50px;
            width: 100px;
            background-color: #202020;
            margin: 10px;
            border-radius: 5px;
            color: white;
            font-size: 1.1rem;
        }

        .discord {
            color: white;
            margin: 5px;
            background-color: #7289DA;
            height: 50px;
            width: 200px;
            border-radius: 5px;
            font-size: 1.1rem;
            margin: 10px;
        }
    }
}